:root {
  --corprincipal: #0052CC;
  --corprincipaltrans: #0052cca4;
  --corsecundaria: #1BD13D;
  --cor01: #60e184;
  --cor02: #6E48E8;
  --cor03: #A348E8;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fb;
  color: #111;
}

/* Header */
.site-header {
  background: var(--corprincipal);
  color: #fff;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.div-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 10px;
}

.site-header nav {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}

.site-header nav a {
  color: white;
  border-radius: 4px;
  padding: 4px 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: normal;
  transition: 1s;
  margin-top: 15px;
}

.site-header nav a:hover {
  background-color: var(--corsecundaria);
  text-decoration: underline;
  box-shadow: 0px 0px 3px black;
}

/* Footer */
.site-footer {
  background: var(--corprincipal);
  color: var(--corprincipal);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-footer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contato {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}

#whatsapp {
  display: flex;
  align-items: center;
  color: white;
  margin: 2px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 0px;
  transition: 0.5s;
}

#whatsapp:hover {
  background-color: var(--cor01);
  padding: 7px;
  text-decoration: underline;
  box-shadow: 0px 0px 3px black;
}

#instagram {
  display: flex;
  align-items: center;
  color: white;
  margin: 2px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 0px;
  transition: 0.5s;
}

#instagram:hover {
  background-color: var(--cor01);
  padding: 7px;
  text-decoration: underline;
  box-shadow: 0px 0px 3px black;
}

.info {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media (max-width: 550px) {
  .site-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.logo-footer , contato {
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

@media (max-width: 700px) {
.div-header {
  display: grid;
  grid-row-gap: 12px;
  margin: auto;
  align-items: end;
 }
}